---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Oluwaferanmi Deku">
  <main class="c_grid">
    <h1>Oluwaferanmi Adedokun | Deku</h1>
    <div class="c__persona">
      <h2 class="c__title">About me</h2>
      <p class="c__text my-2">
        I write simple, clear and concise user focused copies that aim at
        connecting users to the digital products they use seamlessly. learning a
        new language and stumbling blindly across a totally unfamiliar landscape
        makes directing users clearly around an unfamiliar product the utmost
        priority to me when writing copies. I've collaborated with teams on fun
        side projects, web copy redesigns and worked on few personal projects.
      </p>
      <h2 class="c__title mt-10 mb-2">Selected clients</h2>
      <ul>
        <a class="c__link">
          <li><p class="my-2">Addidas</p></li>
        </a>
        <a class="c__link"><li><p class="my-2">Google</p></li></a>
        <a class="c__link"><li><p class="my-2">Pathone Studio</p></li></a>
        <a class="c__link"><li><p class="my-2">Davido</p></li></a>
      </ul>
    </div>
    <div class="c__information">
      <h2 class="c__title">Selected Works</h2>
      <div class="c__works">
        <div class="c__work">
          <h2 class="c__work__title">2023 Recap: Panthone</h2>
          <p class="c__work__detail">
            I write simple, clear and concise user focused copies that aim at
            connecting users to the digital products they use seamlessly.
          </p>
          <a class="c__work__link"><p class="mt-2">See Live↗</p></a>
        </div>
        <div class="c__work">
          <h2 class="c__work__title">2023 Recap: Panthone</h2>
          <p class="c__work__detail">
            I write simple, clear and concise user focused copies that aim at
            connecting users to the digital products they use seamlessly.
          </p>
          <a class="c__work__link"><p class="mt-2">See Live↗</p></a>
        </div>
        <div class="c__work">
          <h2 class="c__work__title">2023 Recap: Panthone</h2>
          <p class="c__work__detail">
            I write simple, clear and concise user focused copies that aim at
            connecting users to the digital products they use seamlessly.
          </p>
          <a class="c__work__link"><p class="mt-2">See Live↗</p></a>
        </div>
      </div>
      <div class="c__contact">
        <h2 class="c__title mt-10 mb-2">Contact me</h2>
        <a class="c__link"><p class="my-2">↳ heyferanmi@gmail.com</p></a>
        <a class="c__link"><p class="my-2">↳ https://github.com/heisdeku</p></a>
        <a class="c__link"
          ><p class="my-2">↳ https://linkedin.com/in/feranmi-deku</p></a
        >
        <a class="c__link"><p class="my-2">↳ hello@olacodes.com</p></a>
      </div>
    </div>
  </main>
</Layout>

<style>
  //resets
  * {
    margin: 0;
    padding: 0;
  }
  h1,
  h2,
  a,
  p {
    font-size: var(--font-size);
    font-weight: normal;
    line-height: var(--line-height);
    color: var(--black);
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  a {
    cursor: pointer;
    transition: all 300ms ease-in-out;
    position: relative;
    max-width: fit-content;
    display: block;
  }
  a:hover {
    opacity: 0.35;
    transition: all 300ms ease-in-out;
  }

  /**component helper for title and texts */
  .c__title {
    margin-bottom: var(--font-size);
  }
  .c__text {
    width: 100%;
  }

  main {
    margin: 40px 161px 40px 1.5rem;
    max-width: 100%;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 170px;
    height: 100vh;
    overflow: hidden;
    justify-content: space-between;
  }

  @media only screen and (max-width: 1120px) {
    main {
      display: block;
      margin: 40px 16px;
      overflow: auto;
      height: auto;
    }
    .c__title {
      margin-top: 38px;
    }
  }
  /**links */
  .c__link::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    background-color: var(--black);
    bottom: -1%;
  }
  .c__work__link::before {
    width: 100%;
    content: "";
    position: absolute;
    height: 1px;
    background-color: var(--black);
    bottom: -1%;
  }
  .c__link:hover::before {
    width: 100%;
    transition: all 300ms ease-in-out;
  }
  .c__works {
    row-gap: 24px;
    display: flex;
    flex-direction: column;
  }
  .c__work__title {
    margin: 0;
  }
  .c__work__detail {
    margin: 8px 0;
  }
  .mt-10 {
    margin-top: 40px;
  }
  .mt-2 {
    margin-top: 8px;
  }
  .mb-2 {
    margin-bottom: 8px;
  }
  .my-2 {
    margin: 8px 0;
  }
</style>
